xformers==0.0.20
numpy
typing-inspect
typing-extensions
setuptools
wheel
mypy-extensions>=0.3.0
timm
torchvision==0.15.2
pyyaml==6.0
huggingface-hub==0.16.4
safetensors==0.3.1
diffusers
transformers
accelerate
mediapy
scipy
ftfy
spacy==3.5.0
odak
numpy
opencv-python
Pillow
argparse
odak
tqdm
mediapy
diffusers
jax==0.4.13
appdirs==1.4.4
flax==0.7.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cu117
torchvision==0.15.2+cu117
plotly
kaleido