torch==2.0.1
xformers
numpy
pyre-extensions==0.0.23
typing-inspect
typing-extensions
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
setuptools
wheel
mypy-extensions>=0.3.0
timm
torchvision==0.15.2
pyyaml==6.0
huggingface-hub==0.16.4
safetensors==0.3.1
diffusers
transformers
accelerate
mediapy
triton
scipy
ftfy
spacy==3.5.0
odak
warnings
numpy
cv2
torch
urllib.request
matplotlib.pyplot
PIL
sys
argparse
odak
tqdm
mediapy
diffusers
random
diffusers.utils.testing_utils
IPython.core.extensions
