torch==2.0.1
xformers==0.0.20
numpy
typing-inspect
typing-extensions
setuptools
wheel
mypy-extensions>=0.3.0
timm
torchvision==0.15.2
pyyaml==6.0
huggingface-hub==0.16.4
safetensors==0.3.1
diffusers
transformers
accelerate
mediapy
scipy
ftfy
spacy==3.5.0
odak
numpy
opencv-python
Pillow
argparse
odak
tqdm
mediapy
diffusers